<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= category %> Menu</title>
</head>
<body>
 
  <%- include('./partials/nav') %>

  
  <h1><%= category %> Menu</h1>

  <ul>
    <% menuItems.forEach(function(item) { %>
      <li>
       
        <strong><%= item.name %> <% if (item.rating === 5) { %>â­<% } %></strong> - $<%= item.price %><br>
        Rating: <%= item.rating %>/5<br>
        <em><%= item.details %></em>
      </li>
    <% }) %>
  </ul>

</body>
</html>
