<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Menu</title>
</head>
<body>
    <%- include('./partials/nav') %>

  <h1>Full Menu</h1>

  <h2>Mains</h2>
  <ul>
    <% menu.forEach(function(item) { %>
      <% if (item.category === 'mains') { %>
        <li>
          <strong><%= item.name %></strong> - $<%= item.price %><br>
          Rating: <%= item.rating %>/5<br>
          <em><%= item.details %></em>
        </li>
      <% } %>
    <% }) %>
  </ul>


  <h2>Desserts</h2>
  <ul>
    <% menu.forEach(function(item) { %>
      <% if (item.category === 'desserts') { %>
        <li>
          <strong><%= item.name %></strong> - $<%= item.price %><br>
          Rating: <%= item.rating %>/5<br>
          <em><%= item.details %></em>
        </li>
      <% } %>
    <% }) %>
  </ul>



  <h2>Sides</h2>
  <ul>
    <% menu.forEach(function(item) { %>
      <% if (item.category === 'sides') { %>
        <li>
          <strong><%= item.name %></strong> - $<%= item.price %><br>
          Rating: <%= item.rating %>/5<br>
          <em><%= item.details %></em>
        </li>
      <% } %>
    <% }) %>
  </ul>
</body>
</html>
